:root {
    --main : #4232ced8;
    --accent: #fff;
    --bg: #ddd;

    --brd_rad: 12px;

    --max_wdh: 550px;

    --h1_ft_sz: min(4.5vh, 3.75vw, 25px);
}

body {
    background-image: url(https://images.pexels.com/photos/6985132/pexels-photo-6985132.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: min(16px, 2.25vw, 2.9vh);

    & #first_cont {
        display: flex;
        flex-direction: column;
        gap: 1.5vh;
        width: min(67%, 90vh);
        max-width: var(--max_wdh);
        
        & #len {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: var(--main);
            border-radius: var(--brd_rad);

            & h1 {
                margin: 0;
                text-align: center;
                color: var(--accent);
                font-size: var(--h1_ft_sz);
                padding: 2px 0;
            }

            & #in_sub {
                display: flex;
                height: min(7vh, 12vw);
                background-color: var(--bg);
                border-radius: var(--brd_rad);
                justify-content: space-around;
        
                & input {
                    padding: 4px 5px;
                    border-radius: var(--brd_rad);
                    height: 80%;
                    width: 69%;
                    align-self: center;
                    border: none;
                }

                & button {
                    color: var(--accent);
                    background-color: var(--main);
                    padding: 4px 5px;
                    border-radius: var(--brd_rad);
                    height: 80%;
                    width: 25%;
                    align-self: center;
                }
            }
        }

        & #choice {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: fit-content;
            background-color: var(--main);
            border-radius: var(--brd_rad);

            & h1 {
                margin: 0;
                text-align: center;
                color: var(--accent);
                font-size: var(--h1_ft_sz);
            }

            & #checkboxes {
                display: flex;
                width: 100%;
                height: 60%;
                padding: 2.5% 0;
                justify-content: space-evenly;
                align-items: center;
                background-color: var(--bg);
                border-radius: var(--brd_rad);

                & .ckbox_cont {
                    display: flex;
                    gap: 7.5%;

                    & input {
                        width: min(2vh, 2vw);
                    }
                }
            }
        }
    }

    & #second_cont {
        display: flex;
        flex-direction: column;
        gap: 1.5vh;
        width: min(67%, 90vh);
        max-width: var(--max_wdh);

        & #output {
            text-align: center;
            display: flex;
            flex-direction: column;
            background-color: var(--main);
            border-radius: var(--brd_rad);
    
            & h1 {
                color: var(--accent);
                font-size: var(--h1_ft_sz);
            }
            
            & #display_cont {
                display: flex;
                background-color: var(--bg);
                border-radius: var(--brd_rad);
                height: min(7vh, 12vw);
                width: 100%;
                justify-content: space-around;
    
                & #display {
                    padding: 2% 2%;
                    border-radius: var(--brd_rad);
                    background-color: var(--accent);
                    height: 80%;
                    width: 85%;
                    text-align: center;
                    text-wrap: wrap;
                    align-self: center;
                    overflow-x: auto;
                }
    
                & button {
                    border-radius: var(--brd_rad);
                    background-color: var(--accent);
                    height: 80%;
                    align-self: center;
                }
            }
        }
    
        & #strength {
            text-align: center;
            display: flex;
            flex-direction: column;
            background-color: var(--main);
            border-radius: var(--brd_rad);
    
            & h1 {
                color: var(--accent);
                font-size: var(--h1_ft_sz);
            }
    
            & #sub_cont {
                display: grid;
                grid-template: 40% 60% / 25% 75%;
                color: white;
                height: 100%;
    
                & #man_input {
                    align-self: center;
                }
    
                & input {
                    width: 97.5%;
                    border-radius: var(--brd_rad);
                    border: none;
                }
    
                & #levels {
                    display: flex;
                    background-color: var(--bg);
                    border-radius: var(--brd_rad);
                    height: min(45px, 6vh);
                    width: 100%;
                    justify-content: space-around;
                    align-items: center;
                    margin-top: 0.5vh;
                    grid-row-start: 2;
                    grid-column-end: span 2;
        
                    & button {
                        color: var(--accent);
                        background-color: var(--main);
                        padding: 4px 5px;
                        border-radius: var(--brd_rad);
                        height: 80%;
                        width: 25%;
                        align-self: center;
                    }
        
                    & #lvl_bar {
                        display: flex;

                        & .lvl {
                            width: min(60px, 8vw, 11vh);
                            aspect-ratio: 4;
                            background-color: var(--accent);
                            border-radius: var(--brd_rad);
                        }
                    }
    
                    & p {
                        color: black;
                        margin-right: 2%;
                    }
                }
            }
        }

        & #recent {
            text-align: center;
            display: flex;
            flex-direction: column;
            background-color: var(--main);
            border-radius: var(--brd_rad);

            & h1 {
                color: var(--accent);
                font-size: var(--h1_ft_sz);
            }

            & ul {
                padding: 10px 0;
                background-color: var(--bg);
                border-radius: var(--brd_rad);
            }
        }
    }
}


/* ------------- Breakpoint ------------- */

@media screen and (min-width: 1200px) {
    body {
        flex-direction: row;
    }
}